/*---------------------------------------Full Site     */

html {}

body {
    background-color: #99ccff;
    /*  Theme blue  */
    font-family: 'Roboto', sans-serif;
}


/*------------------------------------------ Sizing/Alignment  */

.no-padding {
    padding: 0;
    margin: 0;
}

.center {
    justify-content: center;
}

.margin-br {
    height: 40px;
}

/*--------------------------------------Viewport  */

@media (min-width: 768px) {
    .nav-center {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hidden-md {
        display: none;
    }
}

@media (min-width: 768px) {
    .show-md {
        display: none;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .img-md {}
}

/*---------------------------------------Navbar Button    */

.btn-nav {
    background-color: #99ccff;
    /*  Theme blue  */
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btn-nav:hover {
    background-color: #1a8cff;
    /*  Darker blue for highlight */
}


/*---------------------------------------Transitions    */

.btn-outline-info {
    transition: all .5s ease-in-out;
}

.select-food {
    font-family: "exo", sans-serif;
    transition: all .5s ease-in-out;
}

/*---------------------------------------Nav Bar  */

.page-link {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #99ccff;
    font-style: italic;
    border: solid 1px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.page-item:first-child .page-link {
    border-radius: 20px;
}

.page-item:last-child .page-link {
    border-radius: 20px;
}

.active {
    color: #fafafa;
}

button:focus {
    outline: 1px dotted;
}

/*------------------------------------------Cover  */

#cover {
    background-image: url("/assets/images/dessert/icecream-dessert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;

}

.brand-name {
    font-family: 'Srisakdi', cursive;
    font-size: x-large;
    color: #99ccff;
    position: relative;
    margin-left: 50%;
}

.background-img-main {
    background-image: url("/assets/images/cover-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

}

/*------------------------------------------ Cards  */

.card-body {
    text-align: center;
}

.card-img {
    width: 100%;
    height: 100%;
}


/*------------------------------------------ Dishes  */

.dish {
    display: table-cell;
    align-items: center;

}

.card {
    width: 33%;
}

.select-food {
    text-align: center;
    position: relative;
    width: auto;
    top: 35%;
}
